.loyalty-card {
            
    .card-img {
        height: 100px;
        img {
            width: 100%;
            height: 100%;
        }
    }

    .card-score {
        padding: 15px 15px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        color: #000;


        p {
            font-size: 13px;
            font-weight: 400;

            span {
                font-weight: 900;
                font-size: 38px;
                line-height: 38px;
            }

            i {
                margin-left: 5px;
            }

            &:last-child::after {
                content: "";
                height: 2px;
                left: 0;
                width: 85%;
                z-index: 128;
                bottom: 0;
                color: #cdcdcd;
                position: absolute;

            }
        }

        .number {
            margin: 20px 0;
            display: flex;

            span {  
                z-index: 1;
                position: relative;
                margin-right: 8px;
                width: 24px;
                text-align: center;


                &:last-child {
                    margin-right: 0;
                }
            
                &::after {
                    content: "";
                    width: 100%;
                    height: 10px;
                    background-color: #cdcdcd;
                    position: absolute;
                    z-index: -1;
                    bottom: 1px;
                    left: 0;
                }
            }
        }

        .info-link {
            font-weight: 400;
            cursor: pointer;
            

            span {
                position: relative;

                &::after {
                    content: "";
                    width: 100%;
                    height: 2px;
                    background-color: #cdcdcd;
                    position: absolute;
                    z-index: 0;
                    bottom: -1px;
                    left: 0;
                }

                &:hover {
                    &::after {
                        background-color: #fff;
                    }

                }
            }

            i {
                margin-left: 5px;
            }
        }

    }
}