@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500&subset=cyrillic);

@font-face {
	font-family: 'Philosopher';
	src: url('../fonts/philosopher/PhilosopherRegular.ttf') format('truetype'),
		url('../fonts/philosopher/PhilosopherRegular.woff') format('woff');
	font-display: auto;
	font-weight: normal;
	font-style: normal;
}