.checkout{
	padding-top: 35px;

	.checkout-form{
		padding: 0 calc(7.14286% - 30px);
		background: #f5f5f5;
		margin-top: 35px;

		.checkout-form-content{
			background: #fff;
			padding: 0 30px;
		}

		.user-info{
			margin-bottom: 60px;
		}
	}
}