.delivery-params{
	list-style: none;
	display: flex;
	align-items: stretch;
	margin-bottom: 45px;

	&:last-child{
		margin-bottom: 0;
	}

	li{
		display: flex;
		flex-direction: column;
		margin-right: 25px;
		text-align: center;

		&:last-child{
			margin-right: 0;
		}

		.item-icon{
			flex: auto;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 15px;
			font-size: 31px;

			i{
				display: block;
			}
		}
	}
}