.inline-radio{
	input{
		display: none;

		+ label{
			cursor: pointer;
			font-size: 18px;
			color: $text-color;
			text-decoration: underline;
			transition: all $t;

			&:hover{
				color: $primary !important;
			}
		}

		&:checked{
			+ label{
				color: $primary !important;
				text-decoration: none;
			}
		}
	}

	&.white{
		input{
			+ label{
				color: #fff;
			}
		}
	}
}

// Inline List
.inline-list{
	display: flex;
	align-items: center;

	> .inline-list-item{
		margin-right: 30px;

		&:last-child{
			margin-right: 0;
		}
	}
}

// Select
.select-field{
	display: inline-flex;
	cursor: pointer;

	&.fullwidth{
		width: 100%;
	}

	.jcf-select{
		border: 0;
		margin-bottom: 0;
		border-bottom: 2px solid $text-color;
		color: $text-color;
		font-size: 14px;
		height: 33px;
		background: transparent;
		transition: all $t;
		cursor: pointer;
		width: 100%;
		min-width: auto;
	}

	.jcf-select-text{
		line-height: 33px;
		margin-left: 14px;
		cursor: pointer;
	}

	.jcf-select-opener{
		background: none;
		display: flex;
		align-items: center;
		justify-content: center;

		&:before{
			content: "\e940";
			display: block;
			font-size: 5px;
			font-family: 'icomoon';
			transition: all $t;
		}
	}

	.jcf-drop-active{
		.jcf-select-opener:before{
			transform: rotate(-180deg);
		}
	}

	.jcf-select-drop{
		.jcf-select-drop-content{
			border: 1px solid #aaa;
		}
	}

	.jcf-list{
		li{
			border-bottom: 1px solid #aaa;

			&:last-child{
				border-bottom: 0;
			}
		}

		.jcf-option{
			font-size: 14px;
			line-height: 20px;
			padding-left: 10px;
			color: #000;
			cursor: pointer;
			transition: all $t;

			&:hover,
			&.jcf-selected{
				background: #fff;
				color: #999;
			}
		}
	}

	&.white{
		.jcf-select{
			border-bottom-color: #fff;
			color: #fff;
		}
	}

	&.inline{
		.jcf-select{
			border: 0;
			height: 27px;
		}

		.jcf-select-text{
			font-size: 18px;
			line-height: 27px;
			font-weight: 400;
			text-decoration: underline;
			color: $primary;
			margin-left: 0;
			margin-right: 27px;
		}

		.jcf-select-opener{
			width: 27px;
			height: 27px;
		}
	}

	&.bordered{
		.jcf-select{
			border: 1px solid #8e8e8e;
			height: 42px;
		}

		.jcf-select-text{
			font-size: 18px;
			line-height: 40px;
			font-weight: 400;
		}

		.jcf-select-opener{
			width: 35px;
		}

		&.small{
			.jcf-select{
				height: 30px;
			}

			.jcf-select-text{
				font-size: 14px;
				line-height: 30px;
				margin-left: 10px;

				&:before{
					font-size: 6px;
				}
			}
		}
	}
}

.form-field{
	position: relative;

	> label{
		position: absolute;
		left: 0;
		top: 12px;
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		color: #000;
		transition: all $t;
		cursor: text;
	}

	.input-field,
	.textarea{
		&:focus,
		&.not-empty{
			+ label{
				top: -14px;
				color: #b5b5b5;
				font-size: 10px;
			}
		}
	}

	.field-error{
		width: calc(100% - 10px);
		position: absolute;
		left: 0;
		top: calc(100% + 12px);
		background: #fff;
		box-shadow: 0 0 40px rgba(#000, .4);
		font-size: 12px;
		line-height: 16px;
		padding: 8px 12px;

		&:before{
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 10px 8px 10px;
			border-color: transparent transparent #fff transparent;
			position: absolute;
			left: 10px;
			top: -8px;
		}
	}
}

.input-field,
.textarea{
	height: 44px;
	font-size: 20px;
	line-height: 28px;
	font-weight: 300;
	width: 100%;
	outline: none !important;
	transition: all $t;
	color: #000;
	background: transparent;
	border: none;
	border-bottom: 2px solid #000;
	font-family: $main-font;
	-webkit-appearance: none;

	&:focus{
		border-bottom-color: $primary;
	}

	&::placeholder{
		color: $text-color;
	}

	&:disabled{
		background: #212833;
	}

	&.error{
		border-color: red;
		color: red;
	}
}