.main-slider-section{
	background: #ddd;
}

.main-slider{
	background: url(../img/main-slider/slider-bg.png) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;

	.slide{
		background-position: center center;
		background-repeat: no-repeat;
		height: 530px;

		.slide-content{
			height: 530px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		.btn{
			min-width: 300px;
		}
	}

	.slick-dots{
		height: 5px;
		bottom: 20px;

		li{
			margin: 0 5px;
			width: 5px;
			height: 5px;

			button{
				width: 5px;
				height: 5px;

				&:before{
					content: '';
					width: 100%;
					height: 100%;
					border-radius: 50%;
					opacity: 1;
					background: #080808;
					border: 0px solid $primary;
					transition: all $t;
					box-sizing: border-box;
				}

				&:hover{
					&:before{
						border-width: 3px;
					}
				}
			}

			&.slick-active{
				button{
					&:before{
						border-width: 3px;
					}
				}
			}
		}
	}
}

.slide-sale-block{
	font-family: $second-font;
	color: #000;
	text-align: center;
	margin-bottom: 40px;

	.value{
		font-size: 294px;
		line-height: 220px;
		margin-bottom: 15px;
	}

	p{
		text-transform: uppercase;
		font-size: 50px;
		line-height: 50px;
	}
}