.user-info-widget{
	display: flex;
	align-items: center;

	.user-nav{
		margin-right: 45px;
	}
}

.user-nav{
	display: flex;
	align-items: center;
	list-style: none;

	li{
		margin-right: 25px;

		&:last-child{
			margin-right: 0;
		}

		a{
			display: block;
			text-transform: uppercase;
			font-size: 13px;
			line-height: 1.85;
			color: $primary;
			text-decoration: none;
			font-weight: 400;

			&:hover{
				color: #000;
			}
		}
	}
}

.user-buttons{
	display: flex;
	align-items: center;
	list-style: none;

	li{
		margin-right: 20px;

		&:last-child{
			margin-right: 10px;
		}
	}
}

.user-button{
	position: relative;
	display: block;
	color: #000;
	transition: all $t;

	.ub-icon{
		display: block;

		i{
			display: block;
			font-size: 16px;
		}
	}

	.ub-count{
		display: block;
		position: absolute;
		top: -6px;
		left: calc(100% + 4px);
		font-size: 12px;
		line-height: 13px;
		height: 13px;
		color: #000;

		&.highlighted{
			min-width: 18px;
			text-align: center;
			left: calc(100% - 1px);
			padding: 0px 3px;
			border-radius: 3px;
			background: #ffd299;
		}
	}

	&:hover{
		color: $primary;
	}
}